---
search: false
---
/*===test===*/
$link-color: blue;

/*===system typefaces===*/
$serif      : Manrope, serif;
$sans-serif : Inter, Arial, sans-serif;
$monospace  : Monaco, Consolas, "Lucida Console", monospace;

/*===@ imports===*/

@font-face {
    font-family: 'Manrope';
    src: url('/assets/fonts/manrope.ttf') format('ttf');
}
@font-face {
    font-family: 'Inter';
    src: url('/assets/fonts/inter.ttf') format('ttf');
}

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
